/*-----global setting-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    --brown: #6b4423;
    --light-brown: #f4e8d8;
    --dark-brown: #2d1810;
    --gold: #d4a373;
    --red: #c44536;
    --text-gray: #fff;
    --light-grey: #666;
    --border-grey: #ddd;
    --box-shadow: 0 0 10px rgb(0 0 0/15%);
    --transition: all 0.3s ease;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.05rem 1%;
    height: 10%;
    
    /* Glass effect */
    background: rgba(153, 151, 151, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 0px;  

    justify-content: space-between;
    z-index: 100;
    text-transform: uppercase;
}


.navbar {
    display: flex;
    align-items: center;
}

.header nav a { 
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--brown);
}

.cart-btn {
    position: relative;
    display: inline-block;
}

.cart-icon {
    width: 30px;  
    height: 30px;
    top: 2px;
    vertical-align: middle;
    position: relative;
}

.cart-btn sup {
    position: absolute;
    top: -6px;
    right: -6px;
    background: var(--brown);
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 50%;
}

.search-icon {
    width: 30px;   
    height: 30px;
    vertical-align: middle; 
    display: inline-block;
    position: relative;
    top: 2px;    
}

.wishlist-icon {
    width: 30px;   
    height: 30px;
    vertical-align: middle; 
    filter: brightness(0) invert(1);
    position: relative;
    top: 2px;     
}

.navbar a {
    font-size: 1.0rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 7.5rem;
}

.user-box {
    background: #fff;
    border: 1px solid var(--brown);
    padding: .01em;
    outline: none;
    box-shadow: var(--box-shadow);
    margin: .2rem 0;
    width: 25%;
    font-family: inherit;
    border-radius: 5px;
}